<a href="https://colab.research.google.com/github/JerrilBolante/OOP58001/blob/main/List%2C_Tuple%2C_and_Set_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [9]:
class shapes:
  def __init__(self, length, width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width
rectangle= shapes (10,5)
rectangle.area()
#rectangle

50

In [11]:
pow (10,2)
array= ['apple', 'banana', 'orange']
array.insert (0, 'cherry')
print(array)

['cherry', 'apple', 'banana', 'orange']

In [29]:
class shapes:
  def __init__(self, side):
    self.side = side
  def arearec (self):
      return self.length * self.width
  def areasqr (self):
      return self.side ** 2
square = shapes (5)
square.areasqr()

25

In [49]:
#Create your own function that will show your fullname and age
#Use Person as class name

class Person:
    def __init__(self):
        self.name = "Jerril Bolante"
        self.age = "19"
    def nameage(self):
        return "I am " + self.name + " and I am " +  self.age + " years old."
Person = Person()
Person.nameage()

'I am Jerril Bolante and I am 19 years old.'

List

In [58]:
pi = 3.14159
varlist = ['abc', 1, 'def', 2]
print(varlist[0])

varlist.append('ghi')
print(varlist)
varlist.remove(2)
print(varlist)
varlist.insert(3, 10000)
print(varlist)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 10000, 'ghi']

Dictionaries

In [61]:
students = {
      1:"Jerril",
      2:"Lorenzo",
      3:"Samantha",
      4:"Kean",
      5:"Jhihmh",
      6:"Khonhrhadh",


}
print(students)

{1: 'Jerril', 2: 'Lorenzo', 3: 'Samantha', 4: 'Kean', 5: 'Jhihmh', 6: 'Khonhrhadh'}